<%= _.template(require('./../includes/common/head.html').default)(data) %>
<body>
    <%= _.template(require('./../includes/common/header.html').default)(data) %>
    <%= _.template(require('./../includes/common/breadcrumbs.html').default)(data) %>
    <section class="contacts" id="contacts">
        <div class="container">
            <%= _.template(require('./../includes/contacts/contacts-countries.html').default)(data) %>
            <%= _.template(require('./../includes/contacts/contacts-questions.html').default)(data) %>
        </div>
    </section>
    <%= _.template(require('./../includes/common/footer.html').default)(data) %>
    <%= _.template(require('./../includes/popups/faq.html').default)(data) %>
    <%= _.template(require('./../includes/popups/subscribe.html').default)(data) %>
    <%= _.template(require('./../includes/popups/success.html').default)(data) %>
    <%= _.template(require('./../includes/contacts/page-end.html').default)(data) %>
</body>